*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #0A083A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand
{
    color: #0A083A;
}

.navbar-toggler-icon{
    fill: #0A083A;
}

.nav-link,
.login-btn{
    color: #69696b;
    font-size: 1rem;
}

.start-btn{
    border: 1px solid #69696b;
    border-radius: 2rem;
    color: #306EFE;
    font-size: 1rem;

}

.first-col{
    text-align: center;
}


.first-col h1{
    font-weight: 700;
    font-size: 3rem;
}

.start-btn-main{
    background-color: #306EFE;
    color: #fff;
    border-radius: 2rem;
    
}

.icons{
    display: none;
}

/* .back-drop{
    
    margin: 0 auto;
   
} */


     

.p-1{
    color: #B6B6B6;
}

.p-1 span
{
    font-size: 2.5rem;
   
}

.p-1 span,
.p-2,
.big{
    color: #0A083A;
     font-weight: 700;
}

.p-2,
.p-3{
    font-size: 0.9rem;
    
}

.p-3{
    color: #7a7a7a;
}

.p-1,
.p-2,
.p-3{
    padding: 0 !important;
    margin-block-end: 0em;
}

.big{
    font-size: 2.0rem;
}

.section-3{
    width: 100%;
}


@media screen and (min-width: 1024px) {
    .icons{
        display: block;
    }

  .icon{
    color: #FE8D46;

    
}


.first-col{
    text-align: left;
}

.first-col h1{
    font-weight: 800;
    font-size: 4rem;
}
.back-drop{
    width: 75%;
    height: 40vh;
    background-color: #E5E5E5;
    position: relative;
    margin-left: 7rem;
    /* margin: 0 auto; */
}

.back-drop img{
      position: absolute;
      top: -26px;
      left: -10px;
}

.section-3{
    width: 50%;
}


}



@media screen and (min-width: 1280px) {
  
    .back-drop{
        height: 70vh;
    }
}

@media screen and (min-width: 1440px) {
  
    .back-drop{
        height: 70vh;
    }
}